h1 {font-family: Arial, sans-serif; font-size: 400%; text-align: center;}
h2 {font-family: Arial, sans-serif; font-size: 1100%; text-align: center;}
h3 {font-family: Arial, sans-serif; font-size: 150%; text-align: center;}
p {font-family: Arial, sans-serif; font-size: 100%;}
